@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

.saira-bold {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* or choose your desired weight */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  font-family: "Saira", sans-serif;
  background-color:white;
  color: black;
}

.input-field {
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem; /* py-1 px-2 */
  color: #6b21a8; /* text-purple-700 */
  background-color: #ffffff;
  border: 1px solid #d1d5db; /* border-gray-300 */
  border-radius: 0.375rem; /* rounded-md */

  outline: none; /* focus:outline-none */
}

.input-field:focus {
  border-color: #c084fc; /* focus:border-purple-400 */
  box-shadow: 0 0 0 2px rgba(196, 128, 252, 0.4); /* focus:ring-purple-300 + focus:ring-opacity-40 + focus:ring */
}
